<header>
    <h1>El tiempo en Castellón de la Plana</h1>
</header>

<select name="continentes" id="continentes">
    {{#each continentes}}
        <option value="{{name.id}}">{{name._}}</option>
    {{/each}}
</select>
<select name="paises" id="paises">

</select>
<select name="provincias" id="provincias">

</select>
<select name="localidades" id="localidades">

</select>



<section class="today">
    <div class="today-weather">
        <img src="" alt="" class="todayWeather">
        <div class="today-weather-container-temperatura">
            <p class="today-weather-temperatura">15</p>
            <p class="today-weather-sensacionTermica">Sensación de 15º</p>
        </div>

        <div class="today-weather-container-precipitaciones">
            <img src="" alt="">
            <div class="porcentaje-container">
                <p class="porcentaje"></p>
                <p class="cantidad"></p>
            </div>
            <div class="durante-container">
                <img src="" alt="">
                <p class="durante"></p>
                <p class="durante"></p>
                <p class="durante"></p>
            </div>
            <div class="next">
                <button>></button>
            </div>
        </div>
        </div>
    </div>
</section>


<script src="js/index.js"></script>
