<header>
    <h1>El tiempo en Castellón de la Plana</h1>
</header>

<select name="continentes" id="continentes">
    {{#each continentes}}
        <option value="{{name.id}}">{{name._}}</option>
    {{/each}}
</select>
<select name="paises" id="paises">

</select>
<select name="provincias" id="provincias">

</select>
<select name="localidades" id="localidades">

</select>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
<script src="js/weatherWidget.precompiled.js"></script>
<script src="js/index.js"></script>

