@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', 'sans-serif';
}

.copy {
    margin-left: auto;
    font-size: 0.6rem;
}
body{
    height: 100vh;
    /* min-width: 815px; */
    margin: auto;
    background: linear-gradient(to bottom,rgb(93, 132, 202),white, white) no-repeat;
    overflow-x: hidden;
}

header {
    text-align: center;
    margin-top: 1em;
}

.selection{
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 94vw;
    margin: auto;
    /* background-color: rgba(76, 0, 130, 0.24); */
    /* padding: 1em 3em 0em 3em; */
}
.selection select {
    width: 25%;
    margin: 1em;
    /* font-size: 0.4rem; */
}

.inputCiudad {
    box-sizing: border-box;
    /* background-color: rgba(76, 0, 130, 0.24); */
    padding: 1em;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    width: 100vw;
}
.inputCiudad input {
    box-sizing: border-box;
    width: 75vw;
    padding: 5px;
    position: relative;
}

.resultadoCiudades{
    position: absolute;
    top: 75%;
    width: 75vw;
    background-color: rgb(229, 239, 253);
    transform-origin: 0 0;
}

li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 0em 0;
    padding: 0.5em 0;
}

li:hover {
    background-color: rgb(164, 186, 216);
}

.li-ciudad-locationIcon {
    display: flex;
    align-items: center;
    color:blue;
    justify-content: center;
    width: 2em;
}

.li-ciudad {
    display: flex;
    flex-direction: column;
}

.li-ciudad-nombre-container {
    margin-left: 0em;
}

.li-ciudad-comunidad-container {
    font-size: 0.9em;
    margin-left: 0em;
}

.li-ciudad-nombre {
    font-weight: 700;
}

.li-ciudad-continente {
    background-color: rgb(228, 222, 222);
    margin-left: 2em;
}

.li-ciudad-bandera {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1em;
}



.weather {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    color: black;
}
.today-weather {
    display: grid;
    height: 20em;
    /* background-color: cornsilk; */
    padding: 1em 3em 0em 3em;
    z-index: 0;
    width: 100%;
}

.today-weather-city {
    font-size: 1.7rem;
    font-weight: 500;
    flex-basis: 100%;
}

.today-weahter-time{
    display: flex;
    align-items: center;
}

.today-weahter-time span{
    margin-left: auto;
}

.today-weahter-time i{
    font-size: 1.5rem;
    margin-left: 0.5em;
    vertical-align: -50%;
}

.time {
    font-size: 1rem;
}

.icons {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 100;
}
.icon-heart-selected {
    color: red;
}

.icon-share {
    position: relative;
}

.socialIcons {
    font-family: 'weatherappicons';
    justify-content: space-around;
    position: absolute;
    top: 0em;
    left: -11em;
    display: flex;
    flex-wrap: wrap;
    width: 13em;
    color: blue;
    border: 1px solid black;
    padding: 0.1em 0;
    line-height: 0.7em;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.socialIcons i {
    margin: 0 0.25em;
}

.show {
    visibility: visible;
    opacity: 1;
    top: 1.25em;
}

.bold500 {
    font-weight: 500;
}

.container-today {
    display: flex;
    align-items: center;
    margin: 1em 0;
    width: 100%;
}

.container-today-tiempoTemperatura {
    display: flex;
    flex-basis: 35em;
}

.todayWeatherIcon {
    width: 90px;
    height: 90px;
    margin-top: -0.5em;
    margin-right: 0;
}
.bold {
    font-weight: 500;
}

.supBig {
    font-size: 2rem;
    vertical-align: super;
    line-height: 0rem;
    vertical-align: top;
    position: relative;
    top: -5px;
}

.bold700 {
    font-weight: 700;
}

.block {
    flex-basis: 100%;
}

.today-weather-temperatura {
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 0.2em;
    width: fit-content;
    margin-right: auto;
}

.today-weather-sensacionTermica{
    margin-top: 1em;
    font-size: 0.9rem;
}

.today-weather-container-temperatura {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    line-height: 1.5rem;
    height: fit-content;
    width: fit-content;
}



.paraguas, .luna {
    margin: auto 0.5em auto 0;
    height:  2em;
}

.today-weather-container-precipitaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.porcentaje-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;;
}

.flexWrap {
    display: flex;
}
.btnDetalle {
    font-size: 1em;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0 0.5em;
    height: fit-content;
    margin-right: 1em;
}

.durante-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-basis: 27em;
}

.durante-container-mayorParte {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5em;
}

.subrayado {
    text-decoration: underline;
}

.next {
    display: flex;
}
.btnNext {
    margin-left: auto;
    font-size: 2rem;
    background-color: transparent;
    border: navajowhite;
    color: white;
    vertical-align: baseline;
}

.next .icon-arrow-right {
    font-size: 1.5rem;
    color: black;
}

.salidaPuesta {
    display: flex;
    flex-direction: column;
    /* background-color: white; */
}

.salidaPuesta span {
    font-weight: 600;
}

.salidaPuesta-sol, .salidaPuesta-luna {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.salidaPuesta-luna {
    justify-content: space-evenly;
}

.salidaPuesta-sol{
    padding: 0.5em 0;
}

.salidaPuesta-luna p {
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.salidaPuesta-sol p {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.graficas {
    position: relative;
    width: 100%;
    height: 15em;
}

.week-weather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: midnightblue;
    font-size: 0.7rem;
    width: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.week-weather div:nth-child(6), .week-weather div:nth-child(7) {
    cursor: auto;
}
.week-weather div:first-child {
    flex: 1;
    text-align: center;
    color: white;
    padding: 1em 0;
}

.week-weather .selected {
    flex: 1;
    text-align: center;
    color: white;
    background-color: purple;
    padding: 1em 0;
}

.week-weather div {
    position: relative;
}

.week-weather div.selected::before {
    content: '';
    background-color: transparent;
    top: 73%;
    left: 50%;
    position: absolute;
    height: 22px;
    width: 22px;
    border-style: solid;
    border-width: 25px;
    border-color: transparent purple purple transparent;
    transform: rotate(45deg);
    transform-origin: 0 0;
    z-index: 0;
}

.week-weather div:not(.selected):not(:nth-child(6)):not(:nth-child(7)):not(.isTouch):hover {
    background-color: rgb(17, 17, 212)
}

.bottom05 {
    margin-bottom: 0.5em;
}

.week-weather  p {
    margin: 0.2em;
}
.week-weather p:first-child{
    font-size: 0.8rem;
}

.weekWeatherIcon {
    width: 50px;
    height: 50px;
}

.week-weather-paraguas {
    display: block;
    height: 25px;
    filter: invert(1);
    margin: auto;
}

.week-weather div:not(:first-child) {
    flex: 1;
    text-align: center;
    color: white;
    padding: 1em 0;
}

.week-weather div:not(:first-child) p:first-child {
    text-transform: uppercase;
}

.weekWindIcon {
    height: 25px;
}

.week-weather-rangoTemperatura {
    padding: 0.5em 0;
    font-size: 1rem;
}

.week-daySelected-hours {
    background-color: darkslategray;
    padding-top: 2.5em;
    color: darkgrey;
    width: 100%;
}

.week-daySelected-hours-title {
    margin-left: 1em;
    margin-bottom: 1em;
}

.week-daySelected-hours-hour {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(10em, 3fr) minmax(1em, 5fr) minmax(1em, 4fr) minmax(1em, 4fr) minmax(1em, 1fr)); */
    /* grid-template-columns: minmax(10em, 3fr) minmax(1em, 5fr) minmax(1em, 4fr) minmax(1em, 4fr) minmax(1em, 1fr); */
    grid-template-columns: minmax(11em, 3fr) 4em 4fr 4fr 4fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    border-top: 0.01rem solid gray;
    padding: 1em 0 0.6em;
    font-size: 1rem;
}

.week-daySelected-hours-hour-time {
    margin-left: 3em;
    margin-right: 1em;
}

.week-daySelected-hours .icon-sun {
    display: flex;
    font-size: 2rem;
    color: #FDCB20;
}
.week-daySelected-hours-hour-time span {
    font-weight: 600;
    margin-right: 0.5em;
}

.week-daySelected-hours-hour img {
    height: 3em;
    width: 3em;
    vertical-align: middle;
}

.week-daySelected-hours-temp {
    text-align: right;
}

.week-daySelected-hours-temp > p {
    font-size: 2rem;
    font-weight: 600;
    margin-right: 0.5em;
}

.week-daySelected-hours-desc > p:first-child {
    font-weight: 600;
}

.week-daySelected-hours-vientoUV {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.week-daySelected-hours-vientoUV img {
    width: 2em;
    height: 2em;
    margin: auto 0;
}

.week-daySelected-hours-vientoUV-desc {
    margin-left: 0.5em;
}

.week-daySelected-hours-more {
    -webkit-tap-highlight-color: transparent;
}
.week-daySelected-hours-more-label {
    border: 1px solid darkgray;
    border-radius: 50%;
    padding: 0 0.30em;
    font-size: 1.5rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

}

.week-daySelected-hours-more-checkbox {
    display: none;

}

.week-daySelected-hours-more-checkbox:not(:checked) ~ label:not(.isTouch):hover {
    background-color: midnightblue;
}

.week-daySelected-hours-more-checkbox:checked ~ label{
    background-color: purple;
}

.detalleHora {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 0;
    margin: auto;
    transition: height .7s ease-in-out;
    background-color: mintcream;
    color: black;
    overflow: hidden;

}

.detalleHora-selected {
    height: 20rem;
}

.detalleHora-col1, .detalleHora-col2 {
    display: flex;
    margin: auto;
}


.detalleHora-col1-datos, .detalleHora-col2-datos {
    font-weight: 500;
}


.detalleHora-col1-datos div, .detalleHora-col2-datos div {
    display: flex;
    margin: 0 1em;
}

.detalleHora-col1-datos img, .detalleHora-col2-datos img {
    height: 2em;
    margin: auto 1em;
}

.detalleHora span {
    line-height: 3rem;
}

.detalleHora i {
    margin: auto 0;
}

@media only screen and (max-width: 768px) {
    body {
        height: 768px;
        width: 100vw;
        min-width: 0;
    }
    .selection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100vw;
        padding: 1em;
        /* background-color: rgba(76, 0, 130, 0.24); */
        /* padding: 1em 3em 0em 3em; */
    }
    .selection select {
        font-size: 0.5rem;
        width: 40vw;
        margin: 0.5em 1em;
        /* font-size: 0.4rem; */
    }
    .inputCiudad {
        padding: 0em;
    }

    .inputCiudad input {
        width: 94vw;
        padding: 5px;
        position: relative;
    }

    .resultadoCiudades{
        box-sizing: border-box;
        position: absolute;
        top: 100%;
        width: 94vw;
        transform-origin: 0 0;
    }

    .li-ciudad {
        display: flex;
        flex-direction: column;
        width: 75vw;
    }
    .today-weather {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 0;
        width: 99vw;
        box-sizing: border-box;
        padding: 1em 1em;
    }
    .today-weather-city {
        font-size: 0rem;
    }
    .today-weather-city span{
        display: block;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .container-today {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 1em 0;
        width: 100vw;
    }

    .today-weahter-time{
        flex-direction: column;
        margin-top: 0.3em;
        width: 100vw;
    }

    .today-weahter-time p {
        text-align: center;
        font-size: .8rem;
        font-weight: 600;
    }
    .today-weahter-time span{
        margin: 0.5em;
    }
    .socialIcons {
        left: -7em;
    }

    .today-weather-container-temperatura {
        line-height: 2em;
        margin: 0 0 2em 0;
        padding: 0 1em;
        flex-wrap: nowrap;
    }
    .container-today-tiempoTemperatura{
        display: flex;
        /* flex-direction: column-reverse; */
        align-items: center;
        justify-content: center;
        margin: 1.2em 0 2em 0;
    }
    .today-weather-temperatura {
        text-align: right;
        font-size: 6rem;
        line-height: 3rem;
    }
    .today-weather-sensacionTermica{
        text-align: right;
        margin-left: auto;
        line-height: 1em;
        margin-top: auto;
    }
    .today-weather-container-precipitaciones{
        display: block;
        margin: 0;
    }
    .today-weather-container-precipitaciones-luna{
        flex-basis: 50%;
    }
    .today-weather-container-precipitaciones-luna .cantidad{
        width: 9em;
    }
    .durante-container {
        display: flex;
        align-items: center;
        margin-left: 0;
        flex-basis: auto;
        min-width: 15em;
    }
    .durante-container-mayorParte{
        flex-direction: column;
        flex-basis: none;
    }

    .salidaPuesta {
        font-size: 0.7rem;
        text-align: center;
        width: 100vw;
        margin: 1.7em 0;
    }

    .graficas {
        width: 96vw;
        margin: auto;
    }
    .week-weather {
        display: flex;
        overflow-y: scroll;
        flex-shrink: 0;
        flex-grow: 1;
        height: auto;
    }

    .week-weather div {
        min-width: 9em;
        margin-bottom: 3em;
    }

    .week-daySelected-hours{
        padding-top: 1em;
    }
    .week-daySelected-hours-title {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1.3em;
    }
    .week-daySelected-hours-hour {
        display: flex;
        justify-content: space-around;
        overflow-y: scroll;
        height: auto;
        font-size: .9rem;
    }

    .week-daySelected-hours-hour-time {
        margin-left: 0.5em;
        margin-right: 0em;
        flex-shrink: 0;
        width: 7em;
        margin-left: 1em;
    }

    .week-daySelected-hours-temp{
        flex-basis: 1em;
        width: 3em;
        margin-right: 1em;
        margin-left: 0;
    }
    .week-daySelected-hours-temp p {
        font-size: 2rem;
        width: 1.6em;
        text-align: right;
    }

    .week-daySelected-hours-desc {
        flex-shrink: 0;
        width: 10em;
    }

    .week-daySelected-hours-vientoUV .icon-sun{
        font-size: 1.5rem;
    }
    .week-daySelected-hours-vientoUV-desc{
        flex-shrink: 0;
        width: 6em;
    }

    .week-daySelected-hours-title-spanTitle {
        display: none;
    }
    .week-daySelected-hours-more{
        margin-right: 0.5em;
        margin-left: 1em;
    }
    .week-daySelected-hours-more label{
        font-size: 1.5rem;
    }

    .detalleHora {

    }
    .detalleHora-selected {
        height: 18em;
    }

    .detalleHora-col1, .detalleHora-col2 {
        margin: 0;
        justify-content: space-around;
    }

    .detalleHora-col1-nombre, .detalleHora-col2-nombre {
        font-size: 0.8rem;
        width: auto;
        margin-left: 0em;
    }

    .detalleHora-col1-datos, .detalleHora-col2-datos {
        font-size: 0.8rem;
        width: auto;
    }


}


@media only screen and (max-width: 638px) {
    body {
        height: 150vh;
        min-width: 100vw;
        min-width: 0;
    }
    .selection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100vw;
        padding: 1em;
        /* background-color: rgba(76, 0, 130, 0.24); */
        /* padding: 1em 3em 0em 3em; */
    }
    .selection select {
        font-size: 0.5rem;
        width: 40vw;
        margin: 0.5em 1em;
        /* font-size: 0.4rem; */
    }
    .inputCiudad {
        padding: 0em;
    }

    .inputCiudad input {
        width: 94vw;
        padding: 5px;
        position: relative;
    }

    .resultadoCiudades{
        box-sizing: border-box;
        position: absolute;
        top: 100%;
        width: 94vw;
        transform-origin: 0 0;
    }

    .li-ciudad {
        display: flex;
        flex-direction: column;
        width: 75vw;
    }
    .today-weather {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 0;
        width: 99vw;
        box-sizing: border-box;
        padding: 1em 1em;
    }
    .today-weather-city {
        font-size: 0rem;
    }
    .today-weather-city span{
        display: block;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .container-today {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 1em 0;
        width: 100vw;
    }

    .today-weahter-time{
        flex-direction: column;
        margin-top: 0.3em;
        width: 100vw;
    }

    .today-weahter-time p {
        text-align: center;
        font-size: .8rem;
        font-weight: 600;
    }
    .today-weahter-time span{
        margin: 0.5em;
    }
    .socialIcons {
        left: -7em;
    }
    .container-today {
        display: flex;

        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100vw;
    }

    .today-weather-container-temperatura {
        line-height: 2em;
        margin: 0 0 2em 0;
        padding: 0 1em;
        flex-wrap: nowrap;
    }
    .container-today-tiempoTemperatura{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        flex-basis: 0;
        margin: 1.2em 0 2em 0;
    }
    .today-weather-temperatura {
        text-align: right;
        font-size: 6rem;
        line-height: 3rem;
    }
    .today-weather-sensacionTermica{
        text-align: right;
        margin-left: auto;
        line-height: 1em;
        margin-top: auto;
    }
    .today-weather-container-precipitaciones{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .today-weather-container-precipitaciones-luna{
        flex-basis: 38%;
    }
    .today-weather-container-precipitaciones-luna .cantidad{
        width: 9em;
    }
    .durante-container {
        display: flex;
        align-items: center;
        margin-left: 0;
        flex-basis: auto;
        min-width: 15em;
    }
    .durante-container-mayorParte{
        flex-direction: column;
        flex-basis: none;
    }

    .salidaPuesta {
        font-size: 0.7rem;
        text-align: center;
        width: 100vw;
        margin: 1.7em 0;
    }

    .week-weather {
        display: flex;
        overflow-y: scroll;
        flex-shrink: 0;
        flex-grow: 1;
        height: auto;
    }

    .week-weather div {
        min-width: 9em;
        margin-bottom: 3em;
    }

    .week-daySelected-hours{
        padding-top: 1em;
    }
    .week-daySelected-hours-title {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1.3em;
    }
    .week-daySelected-hours-hour {
        display: flex;
        justify-content: space-around;
        overflow-y: scroll;
        height: auto;
        font-size: .9rem;
    }

    .week-daySelected-hours-hour-time {
        margin-left: 0.5em;
        margin-right: 0em;
        flex-shrink: 0;
        width: 7em;
        margin-left: 1em;

    }

    .week-daySelected-hours-temp{
        flex-basis: 1em;
        width: 3em;
        margin-right: 1em;
        margin-left: 0;
    }
    .week-daySelected-hours-temp p {
        font-size: 2rem;
        width: 1.6em;
        text-align: right;
    }

    .week-daySelected-hours-desc {
        flex-shrink: 0;
        width: 10em;
    }
    .week-daySelected-hours-vientoUV{
        display: none;
        margin-left: 0;
        width: 10em;
    }
    .week-daySelected-hours-vientoUV .icon-sun{
        font-size: 1.5rem;
    }
    .week-daySelected-hours-vientoUV-desc{
        flex-shrink: 0;
    }

    .week-daySelected-hours-title-spanTitle {
        display: none;
    }
    .week-daySelected-hours-more{
        margin-right: 0.5em;
    }
    .week-daySelected-hours-more label{
        font-size: 1.2rem;
    }

    .detalleHora {
        flex-direction: column;
    }
    .detalleHora-selected {
        height: 36em;
    }

    .detalleHora-col1, .detalleHora-col2 {
        margin: 0;
        justify-content: space-around;
    }

    .detalleHora-col1-nombre, .detalleHora-col2-nombre {
        font-size: 0.9rem;
        width: 10em;
        margin-left: 1em;
    }

    .detalleHora-col1-datos, .detalleHora-col2-datos {
        font-size: 0.9rem;
        width: 15em;
    }


}






