@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', 'sans-serif';
}

header {
    text-align: center;
    margin-top: 1em;
}

.selection {
    display: flex;
    justify-content: space-evenly;
    margin: 2em auto 0em;
    background-color: rgba(76, 0, 130, 0.24);
    width: 815px;
}

select {
    width: 25%;
    margin: 1em;
}
.weather {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    color: black;
    height: 100vh;
    max-width: 1024px;
    min-width: 1024px;
    margin: 0 auto;

}
.today-weather {
    display: grid;
    width: 100%;
    margin: 0em 10%;
    background-color: cornsilk;
    padding: 1em 3em;
}

.today-weather-city {
    font-size: 1.7rem;
    font-weight: 500;
    flex-basis: 100%;
}

.today-weahter-time{
    display: flex;
    align-items: center;
}

.today-weahter-time span{
    margin-left: auto;
}

.today-weahter-time i{
    font-size: 1.5rem;
    margin-left: 0.5em;
    vertical-align: -50%;
}

.time {
    font-size: 1rem;
}

.bold500 {
    font-weight: 500;
}

.container-today {
    display: grid;
    grid-template-columns: 1fr minmax(157px, 2fr) minmax(200px, 3fr) minmax(200px, 4fr) 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 1em 0;
    width: 100%;
}

.todayWeatherIcon {
    width: 90px;
    height: 90px;
    margin-top: -0.5em;
    margin-right: 0;
}
.bold {
    font-weight: 500;
}

.supBig {
    font-size: 2rem;
    vertical-align: super;
    line-height: 0rem;
    vertical-align: top;
    position: relative;
    top: -5px
}

.bold700 {
    font-weight: 700;
}

.block {
    flex-basis: 100%;
}

.today-weather-temperatura {
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 0.2em;
    width: fit-content;
    margin-right: auto;
}

.today-weather-sensacionTermica{
    margin-top: 1em;
    font-size: 0.9rem;
}

.today-weather-container-temperatura {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    line-height: 1.5rem;
    height: fit-content;
    width: fit-content;
}

.paraguas, .luna {
    margin: auto 0.5em auto 0;
    height:  2em;
}


.today-weather-container-precipitaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.porcentaje-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;;
}

.flexWrap {
    display: flex;
}
.btnDetalle {
    font-size: 1em;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0 0.5em;
    height: fit-content;
    margin-right: 1em;
}

.durante-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.durante-container-mayorParte {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5em;
}

.subrayado {
    text-decoration: underline;
}

.next {
    display: flex;
}
.btnNext {
    margin-left: auto;
    font-size: 2rem;
    background-color: transparent;
    border: navajowhite;
    color: white;
    vertical-align: baseline;
}

.next .icon-arrowR {
    font-size: 1.5rem;
    color: black;
}

.week-weather {
    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr);
    width: 100%;
    background-color: midnightblue;
    font-size: 0.7rem;
    margin: 0 10%;

}
.week-weather div:first-child {
    flex: 1;
    text-align: center;
    color: white;
    background-color: purple;
    padding: 1em 0;
}

.bottom05 {
    margin-bottom: 0.5em;
}

.week-weather  p {
    margin: 0.2em;
}
.week-weather p:first-child{
    font-size: 0.8rem;
}


.weekWeatherIcon {
    width: 50px;
    height: 50px;
}

.week-weather-paraguas {
    display: block;
    height: 25px;
    filter: invert(1);
    margin: auto;
}

.week-weather div:not(:first-child) {
    flex: 1;
    text-align: center;
    color: white;
    padding: 1em 0;
}

.week-weather div:not(:first-child) p:first-child {
    text-transform: uppercase;
}

.weekWindIcon {
    height: 25px;
}


.week-today-rangoTemperatura {
    padding: 0.5em 0;
    font-size: 1rem;
}


/* @media screen and (max-width: 1000px) {
    .container-today {
      grid-template-areas:
        "nube temperatura temperatura temperatura temperatura"
        "paraguas paraguas mayor mayor next";
    }
    .durante-container {
        grid-area: mayor;
        grid-column: auto;
        margin-left: auto;
    }

    .today-weather-container-precipitaciones{
        grid-area: paraguas;
    }
    .porcentaje-container p {
        width: fit-content;
    }
    .next {
        grid-area: next;
        grid-column: auto;
    }
} */